.page-button {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: .75rem 0;
  background-color: #ccc;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;

  &--active {
    background-color: #16202f;
  }
}
