.page-button {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: .75rem 0;
  background-color: #f44336;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.page-link {
  margin: .5rem;
  text-decoration: none;
}
