@import url('https://use.typekit.net/kmy0viq.css');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import 'body';
@import 'header';
@import 'navigation';

#root {
  display: flex;
  justify-content: center;
  width: 100%;
}

.app {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.search {
  display: flex;
  justify-content: flex-end;

  &__input {
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, .1);
  }
}

.app {
  box-shadow: 0px 3px 5px 0.05px rgba(57,57,57,0.12);
  box-sizing: border-box;
  display: flex;
  margin: 1rem auto;
  padding: 20px;
  width: 96%;
}

@media (min-width: 1025px) {
  .app {
    margin: 3rem 0;
    width: 80%;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 87%;
    padding: 20px 0;

    &__text {
      display: flex;
      justify-content: center;
    }
  }
}

@media (max-width: 767px) {
  .app {
    margin: .5rem auto;
  }
}

header {
  display: flex;
  flex-direction: column;
}

.featured-image {
  border: 10px solid #ffffff;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, .1);
}
