$white: #ffffff;
$gray: #101823;

@import url('https://fonts.googleapis.com/css?family=Gudea:400,700');
@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');
@import 'card';

body {
  background-color: #f6fafb;
}

.header {
  align-items: center;
  background-color: $white;
  border-bottom: 1px solid rgba(120,130,140,.13);
  display: flex;
  font-family: 'Gudea', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 3.5rem;
  justify-content: space-between;
  padding: 0 2rem;

  &__icon {
    padding: 0 .4rem;
  }
}

.sidebar {
  background-color: #gray;
}

.main-content {
  margin-top: 4.5rem;
}
