.search {
  display: flex;

  &__toggle {
    cursor: pointer;
  }

  &__input {
    display: flex;
    width: 0;
    transition: all .5s ease;
    visibility: hidden;

    &-button {
      border: 0;
      font-size: 16px;
    }

    &-text {
      border: none;
      border-bottom: 1px solid rgba(120, 130, 140, 0.13);
      width: 100%;
      font-size: 16px;
      margin-left: 10px;
      color: #2e2e2e;

      &:focus {
        outline: 0;
      }
    }

    &--visible {
      visibility: visible;
      width: 200px;
    }
  }
}
